@font-face{
    font-family: 'Trench';
    src: url(/fonts/trenchThin.ttf);
}

@font-face {font-family: "Gilroy"; src: url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.eot"); src: url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.woff") format("woff"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.svg#Gilroy") format("svg"); }

@keyframes imgHover {
    from {width: 300;
           height: 200;}
    to    {width:330;
            height: 220;}
}


/* Top Nav Bar */
.topbar {
    margin:0;
    padding:0;
    border:0;
    height:40;
    max-width: 100%;
    flex-direction: row;
    display: flex;
}


/** index.js styles */
.container {
    margin: 0;
    padding: 0;
    border: 0;
    height: auto;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

.homeContent{
    margin: 0;
    padding: 0;
    border: 0;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.divStyle2 {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    padding-top: 2.5vw;
    max-width: 100vw;
    display: flex; 
    flex-direction: column; 
    text-align: center;
}

.homeText {
    max-width: 100vw; 
    height: auto;  
    flex-direction: row; 
    display: flex; 
    text-align: center; 
    justify-content: center;
    flex:1; 
}

.homeText img {
    max-height: 32vw ;
    max-width: 40vw;
    margin-right: 5vw;
}


.columnText {
    flex: 1; 
    justify-content: center; 
    text-align: center; 
    flex-direction: column; 
    display: flex; 
    padding-top: 2.5vw; 
    max-width: 40vw; 
    margin-right: 2.2vw;
}
.columnText p {
    font-family: "Gilroy";
    font-size: 12vw;
    flex: 1;
}
.columnText text{
    font-family: "Gilroy";
    font-size: 2.3vw;
    flex: 1;
}


.mainText{
    padding-top: 2vw; 
    width: 100vw; 
    height: auto; 
    flex: 1; 
    flex-direction: row; 
    display: flex; 
    text-align: center; 
    justify-content: center; 
}
.mainTextContainer {
    max-width: 60vw; 
    height: auto; 
    flex: 1; 
     
    margin: 2vw;
}
.mainTextContainer p{
    font-family: "Gilroy";
    font-size: 2vw;
}


/** gallery.js styles */ 
.galleryContent{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: auto;
    width: 100vw;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    
}

/** project.js styles */
.projectContent{
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex: 1;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.projectContent text{
    font-family: "Gilroy";
    font-size: 70px; 
    margin-top: 100px;
}

/** */
.centerPage{
    padding-left: 20;
    padding-right: 20;
}


